<div class="card mx-auto">
<div class="card-header bg-primary text-center">
  <h5 style="color: rgb(255, 255, 255);">Login</h5>
</div>

<form action="../cargararticulo/">
  <div>
  <div class="entrada mb-3 mt-3">
    <i class="fa-solid fa-envelope"></i>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
  </div>
  <div class="entrada mb-3">
    <i class="fa-solid fa-key"></i>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <div class="form-text" id="emailHelp">
    <a href="/signup">Sign Up</a>
  </div>
  </div>
</form>
</div>