<div class="card mx-auto">
    <div class="card-header bg-success text-center">
      <h5 style="color: rgb(255, 255, 255);">Cargar artículo</h5>
    </div>
    
    <form action="../login/">
      <div>
      <div class="entrada mb-3 mt-3">
        <i class="fa-solid fa-user"></i>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre Completo">
      </div>
      <div class="entrada mb-3 mt-3">
        <i class="fa-solid fa-newspaper"></i>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Título Artículo">
      </div>
      <div class="entrada mb-3 mt-3">
        <i class="fa-solid fa-user"></i>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Autor">
      </div>
      <div class="entrada mb-3 mt-3">
      <textarea name="resumen-articulo" id="articulo" cols="30" rows="10">
        Breve resumen del artículo
      </textarea>
      </div>
      <div class="entrada mb-3">
        <i class="fa-solid fa-key"></i>
        <button class="btn-cargar" style="width: 115px; font-size: 15px;">Elegir archivo...</button>
        <input style="padding-left: 130px; font-size: 13px;" type="password" class="form-control" id="exampleInputPassword1" placeholder="No se eligió ningún archivo">
      </div>
      <button type="submit" class="btn btn-primary">Cargar archivo</button>
      </div>
    </form>
    </div>

