<div class="card mx-auto">
    <div class="card-header bg-danger text-center">
      <h5 style="color: rgb(255, 255, 255);">Sign Up</h5>
    </div>
    
    <form action="../login/">
      <div>
      <div class="entrada mb-3 mt-3">
        <i class="fa-solid fa-user"></i>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre Completo">
      </div>
      <div class="entrada mb-3 mt-3">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
      </div>
      <div class="entrada mb-3 mt-3">
        <i class="fa-solid fa-phone"></i>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Teléfono/Celular">
      </div>
      <div class="entrada mb-3">
        <i class="fa-solid fa-key"></i>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
      </div>
      <div class="entrada mb-3">
        <i class="fa-solid fa-key"></i>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repetir contraseña">
      </div>
      <button type="submit" class="btn btn-primary">Registrarme</button>
      <div class="form-text" id="emailHelp">
        ¿Ya tienes una cuenta?<a href="/login"> Login</a>
      </div>
      </div>
    </form>
    </div>
