.entrada{
    position: relative;
  }
  .entrada i{
    position: absolute;
    left: 11px;
    top: 11px;
    color: rgb(107, 107, 107);
  }
  .form-control{
    padding-left: 40px;
  }
  .card{
    padding: 40px;
    width: 400px;
    padding: auto auto;
    margin-top: 40px;
  }
  button{
    width: 100%;
  }
  h1{
    color: rgb(0, 0, 133);
    text-align: center;
  }
  a{
    text-decoration: none;
  }

.fomr-text{
    text-align: center;
}